<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 

"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.edu.nku.cc.FakeDouban.dao.LoginDao">

	<resultMap id="UserResultMap" type="User">

		<id property="id" jdbcType="INTEGER" />

		<result property="userName" jdbcType="VARCHAR" column="user.username" />
		<result property="password" jdbcType="VARCHAR" column="user.password" />
		<result property="gender" jdbcType="VARCHAR" column="user.gender" />
		<result property="age" jdbcType="INTEGER" column="user.age" />
		<result property="city" jdbcType="VARCHAR" column="user.city" />
		<!-- <result property="job" jdbcType="VARCHAR" column="job.jobname" /> -->
        <result property="discription" jdbcType="LONGVARCHAR" column="user.discription"  />
        <result property="level" jdbcType="INTEGER" column="reviewer.level"/>
		<association property="job" column="job" javaType="Job">
			<id property="id" column="job.id" jdbcType="INTEGER"/>
			<result property="jobName" column="job.jobname" jdbcType="VARCHAR"/>
		</association>
	</resultMap>
	<select id="findById" parameterType="int" resultMap="UserResultMap">
		select * from smbms_user where id = #{id}
		
	</select>
	
	<select id="findByNameAndPwd" parameterType="user" resultMap="UserResultMap">
		select *
            from user
            left join job on user.job=job.id
            left join reviewer on user.id=reviewer.id
            where user.username=#{userName} and user.password=#{password}
		
	</select>
	
	<select id="findAll" resultMap="UserResultMap">
		select * from smbms_user
	</select>
	
	<select id="findByName" parameterType="String" resultMap="UserResultMap">
		select * from smbms_user where userName like %{userName}
	</select>
	
	<update id="modify" parameterType="user">
		update smbms_user
			set userCode=#{userCode},
				userName=#{userName},
				userPassword=#{userPassword},
				gender=#{gender},
				birthday=#{birthday},
				phone=#{phone},
				address=#{address},
				createdBy=#{createdBy},
				creationDate=#{creationDate}
			where id=#{id}
	</update>

</mapper>