<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 

"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.edu.nku.cc.FakeDouban.dao.UserDao">
	<resultMap id="UserResultMap" type="user">

		<id property="id" jdbcType="INTEGER" column="userid"/>

		<result property="userName" jdbcType="VARCHAR" column="username" />
		<result property="password" jdbcType="VARCHAR" column="password" />
		<result property="gender" jdbcType="VARCHAR" column="gender" />
		<result property="age" jdbcType="INTEGER" column="age" />
		<result property="city" jdbcType="VARCHAR" column="city" />
		<!-- <result property="job" jdbcType="VARCHAR" column="job.jobname" /> -->
        <result property="description" jdbcType="LONGVARCHAR" column="description"  />
        <result property="level" jdbcType="INTEGER" column="level"/>
		<result property="job" jdbcType="VARCHAR" column="job"/>
	</resultMap>
	
	<select id="findByNameAndPwd" parameterType="user" resultMap="UserResultMap">
        select * from user
            left join reviewer
            on reviewer.userid=user.userid
            where user.username=#{userName}
            and user.password=#{password}
    </select>
    <select id="findById" parameterType="int" resultMap="UserResultMap">
        <!-- SELECT
			`user`.userid as `id`,
			`user`.username as userName,
			`user`.`password` as `password`,
			`user`.age as age,
			`user`.city as city,
			`user`.gender as gender,
			`user`.job as job,
			`user`.description as description,
			reviewer.`level` as `level`
		from `user`
            left join reviewer
            on reviewer.userid=`user`.userid
            where `user`.userid=#{id} -->
        select * 
            from `user`
            left join reviewer
            on reviewer.userid=`user`.userid
            where `user`.userid=#{id}
    </select>
    <select id="findByName" parameterType="String" resultMap="UserResultMap">
        select * 
            from `user`
            left join reviewer
            on reviewer.userid=`user`.userid
            where `user`.username=#{userName}
    </select>
    <insert id="insertUser" parameterType="user"
    useGeneratedKeys="true" keyProperty="userid">
        insert into user (username,password,gender,age,city,description,job)
            values (
            #{userName},#{password},#{gender},#{age},#{city},#{description},#{job}
            )
    </insert>
    <update id="modifyUser" parameterType="user">
        update user
            set username=#{userName},
                password=#{password},
                gender=#{gender},
                age=#{age},
                city=#{city},
                description=#{description},
                job=#{job}
            where userid=#{id}
    </update>
</mapper>