<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 

"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.edu.nku.cc.FakeDouban.dao.UserDao">
	<resultMap id="UserResultMap" type="user">

		<id property="id" jdbcType="INTEGER" column="userid"/>

		<result property="userName" jdbcType="VARCHAR" column="username" />
		<result property="password" jdbcType="VARCHAR" column="password" />
		<result property="gender" jdbcType="VARCHAR" column="gender" />
		<result property="age" jdbcType="INTEGER" column="age" />
		<result property="city" jdbcType="VARCHAR" column="city" />
		<!-- <result property="job" jdbcType="VARCHAR" column="job.jobname" /> -->
        <result property="description" jdbcType="LONGVARCHAR" column="description"  />
        <result property="level" jdbcType="INTEGER" column="level"/>
		<result property="job" jdbcType="VARCHAR" column="job"/>
	</resultMap>
	

	<resultMap id="AdministerResultMap" type="administer">

		<id property="id" jdbcType="INTEGER" column="adminid"/>

		<result property="adminName" jdbcType="VARCHAR" column="adminname" />
		<result property="password" jdbcType="VARCHAR" column="adminpassword" />
        <result property="level" jdbcType="INTEGER" column="adminlevel"/>
		
	</resultMap>
	
	<select id="findAll" resultMap="UserResultMap">
		select * from user
            left join reviewer
            on reviewer.userid=user.userid
	</select>
	
    <select id="findByAdminNameAndPwd" parameterType="administer" resultMap="AdministerResultMap">
		select * from administrator where adminname=#{adminName} and adminpassword=#{password}
    </select>

	<select id="findByNameAndPwd" parameterType="user" resultMap="UserResultMap">
        select * from user
            left join reviewer
            on reviewer.userid=user.userid
            where user.username=#{userName}
            and user.password=#{password}
    </select>
    <select id="findById" parameterType="int" resultMap="UserResultMap">
        
        select * 
            from `user`
            left join reviewer
            on reviewer.userid=`user`.userid
            where `user`.userid=#{id}
    </select>
    <select id="findByName" parameterType="String" resultMap="UserResultMap">
        select * 
            from `user`
            left join reviewer
            on reviewer.userid=`user`.userid
            where `user`.username=#{userName}
    </select>
    <insert id="insertUser" parameterType="user"
    useGeneratedKeys="true" keyProperty="userid">
        insert into user (username,password,gender,age,city,description,job)
            values (
            #{userName},#{password},#{gender},#{age},#{city},#{description},#{job}
            )
    </insert>
    <update id="modifyUser" parameterType="user">
        update user
            set username=#{userName},
                password=#{password},
                gender=#{gender},
                age=#{age},
                city=#{city},
                description=#{description},
                job=#{job}
            where userid=#{id}
    </update>
    
    <insert id="insert" parameterType="user"
    useGeneratedKeys="true" keyProperty="userid">
        insert into user (username,password,gender,age,city,description,job)
            values (
            #{userName},#{password},#{gender},#{age},#{city},#{description},#{job}
            )
    </insert>
    
    <insert id="levelupUser" parameterType="int">
    	insert into reviewer values(#{id},1);
    </insert>
     
    <delete id="deleteUser" parameterType="int">
    	delete from user where userid=#{id}
    </delete>
    
</mapper>